html {
    height: 100%;
    background: #2d2d2d;
}

body {
    height: 100%;
    background: #2d2d2d;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

/* --- Sidebar --- */

.side-bar {
    z-index: 10;
    position: fixed;
    background: white;
    width: 205px;
    height: 100%;
    padding: 8px 10px;
    float: left;
}

h1.logo {
    margin: 0;
    font-size: 24px;
}

.side-bar {
    font-size: 14px;
}

.side-bar h2 {
    margin: 0 0 2px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.side-bar h2 a {
    color: #666;
}

.side-bar h2 a i {
    font-size: 16px;
    color: #aaa;
    margin-right: 0.5em;
}

.side-bar form, .side-bar form.custom, .side-bar form.custom .custom.dropdown {
    margin-bottom: 0.2em;
}

.subreddits {
    padding-left: 2px;
}

.subreddits ul {
    list-style: none;
    margin-bottom: 2px;
}

.subreddits ul li a {
    font-size: 16px;
    color: #fd4400;
}
.subreddits ul li a:hover, .side-bar .subreddits ul li a:focus { color: #e43d00; }

.subreddits ul li i {
    color: #aaa;
    margin-right: 0.8em;
}

.add-subreddit i {
    float: left;
    width: 18px;
    height: 28px;
    line-height: 28px;
    color: #aaa;
}

.add-subreddit .prefix {
    font-size: 13px;
    line-height: 26px;
    float: left;
    width: 21px;
    height: 28px;
    color: #aaa;
}

.add-subreddit input {
    height: 28px;
    width: 142px;
    font-size: 14px;
    margin-bottom: 0.8em;
}

.side-bar section#gallery .controls {
    margin-bottom: 1em;
}

.side-bar section#gallery .controls a {
    color: #aaa;
    line-height: 22px;
    text-decoration: underline;
    display: inline-block;
    padding-left: 23px;
}

.side-bar section#gallery .controls i {
    padding-left: 1px;
    position: relative;
    top: 1px;
    color: #aaa;
    line-height: 22px;
}

.side-bar section#gallery .controls div:first-child div {
    margin-top: 6px;
    margin-left: 20px;
}

.side-bar section#gallery .controls input, #modalCollections .share input {
    font-size: 14px;
    float: left;
    width: 127px;
    height: 28px;
}

.side-bar section#gallery .controls button, #modalCollections .share button {
    box-sizing: border-box;
    height: 28px;
    width: 36px;
    font-size: 12px;
    float: left;
    padding: 0;
    background: #666;
    border-color: #515151;
}

.side-bar section#gallery .controls .share input, #modalCollections .share input {
    font-size: 10px;
}

.share input[disabled] {
    background-color: #eee;
}

.side-bar section#gallery .controls #manage {
    color: #666;
    text-decoration: underline;
    display: inline-block;
    padding-left: 5px;
}

.side-bar section#gallery {
    border-bottom: 1px #ccc solid;
    margin-bottom: 12px;
}

.side-bar section#popular .page-nav { margin-top: 6px; }
.side-bar section#popular .page-nav * { display: inline-block; font-weight: bold; }
.side-bar section#popular .page-nav a { color: #666; }
.side-bar section#popular .page-nav a:hover { color: #999; }
.side-bar section#popular .page-nav a:first-child { margin-right: 0.4em; }
.side-bar section#popular .page-nav a:first-child i { margin-right: 0.2em; }
.side-bar section#popular .page-nav span {
    font-weight: normal;
    cursor: default;
    color: #aaa;
}
.side-bar section#popular .page-nav a:last-child { margin-left: 0.4em; }
.side-bar section#popular .page-nav a:last-child i { margin-left: 0.2em; }
.side-bar section#popular .page-nav .disabled, .side-bar section#popular .page-nav .disabled:hover {
    cursor: default;
    color: #aaa;
}

/* --- Topbar --- */

.top-bar {
    z-index: 9;
    position: fixed;
    background: #484848;
    color: #999;
    height: 36px;
    padding: 3px 12px 3px 217px;
    margin: 0;
    font-size: 15px;
    line-height: inherit;
    width: 100%;
}

.top-bar a { color: #ccc; text-decoration: underline; }
.top-bar a:hover { color: #fff; text-decoration: none; }
.top-bar a:active { color: #aaa; text-decoration: none; }

.top-bar .sorting {
    float: left;
    width: 15%;
    line-height: 30px;
}

.top-bar .sizing {
    vertical-align: top;
    float: left;
    margin-left: 5%;
    width: 170px;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}

.top-bar .sizing ul {
    display: inline-block;
    font-size: inherit;
    line-height: 30px;
    height: 30px;
    margin: 0 4px;
    width: 65px;
}

.top-bar .sizing ul li { height: 30px; }

.top-bar .sizing .button {
    color: #999;
    font-size: 18px;
    height: 30px;
    top: 0;
    line-height: 30px;
    text-decoration: none;
    background-color: #484848;
    border-color: #333;
    /* Dim the button highlight a bit */
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    
}

.top-bar .sizing .button:hover, .top-bar .sizing .button:focus {
    color: #fff;
    background-color: #666;
}

.top-bar .sizing .button i {
    vertical-align: top;
    line-height: 30px;
    position: relative;
    display: inline-block;
}

.top-bar .sizing .button i.icon-plus { left: -3px; } /* Icon alignment adjust */

.top-bar .user {
    height: 30px;
    width: 15%;
    text-align: right;
}

.top-bar .user .button {
    color: #fff;
    font-size: 16px;
    height: 30px;
    top: 0;
    line-height: 30px;
    text-decoration: none;
    background-color: #fd4400;
    border-color: #7a2100;
}

.top-bar .user .button:hover, .top-bar .user .button:focus { background-color: #e43d00; }

/* --- Tile area --- */

.tile-area {
    color: #aaa;
    margin-left: 205px;
    padding: 48px 8px 8px 12px;
}

.tile-area .tile {
    float: left;
    margin: 0 0 4px 0;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.38);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.38);
}

.tile-area .tile img.small {
    width: 101px;
    height: 101px;
}

.tile-area .tile img.big {
    width: 206px;
    height: 206px;
}

/* --- Modal Windows --- */

#modalLogin {
    position: fixed;
    width: 275px;
    top: 50%;
    left: 50%;
    margin: 133px 0 0 -138px;
}

#modalCollections {
    position: fixed;
    width: 410px;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -205px;
}

#modalCollections label {
    color: #999;
    font-size: 14px;
    margin-bottom: 8px;
}

#modalCollections .small-2 {
    text-align: right;
}

#modalCollections a.tiny.secondary.button {
    font-size: 12px;
    color: #666;
    margin-top: 2px;
    height: 23px;
    padding-top: 4px;
    padding-right: 0;
    padding-left: 0;
    width: 53px;
    font-weight: normal;
}

#modalCollections h3 {
    font-size: 16px;
    color: #666;
    margin-bottom: 0;
}

#modalCollections .subreddits, #modalCollections .add-subreddit form, #modalCollections .share {
    padding-top: 4px;
    padding-left: 14px;
}

#modalCollections .add-subreddit form.custom .custom.dropdown {
    color: #fd4400;
    height: 28px;
    width: 164px;
    font-size: 14px;
    margin-left: 18px;
    margin-bottom: 0.8em;
}

#modalCollections .add-subreddit form.custom .custom.dropdown .current {
    line-height: 26px;
    color: #fd4400;
    margin-left: 7px;
}

#modalCollections .add-subreddit form.custom .custom.dropdown .selector {
    height: 28px;
}

#modalCollections .share input { width: 146px; }

#modalCollections p {
    text-align: right;
    color: #999;
    width: auto;
    padding-top: 1px;
    padding-right: 1em;
}

#modalCollections #collectionsDone {
    position: static;
    background: #666;
    color: white;
    background: #666;
    border-color: #515151;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 25px;
    margin-bottom: 0;
}

#modalCollections #collectionsDone:hover, #modalCollections #collectionsDone:focus {
    background: #999;
}

.reveal-modal {
    padding: 11px 15px 15px;
    font-size: 14px;
    color: #666666;
}

.reveal-modal form {
    margin-bottom: 0;
}

.reveal-modal h2 {
    font-size: 28px;
    color: #666;
}

.reveal-modal h2 span {
    display: inline-block;
    margin-left: 0.3em;
    font-size: 14px;
    font-weight: normal;
    color: #fd4400;
}

.reveal-modal .columns { padding: 0; }

.reveal-modal fieldset label {
    font-size: 14px;
    margin-right: 1em;
}

.reveal-modal fieldset input { font-size: 14px; }

.reveal-modal fieldset .row:last-child input, .reveal-modal fieldset .row:last-child label {
    margin-bottom: 12px;
}

.reveal-modal p {
    float: left;
    width: 106px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 0;
}

.reveal-modal p a {
    color: #fd4400;
    text-decoration: underline;
}

.reveal-modal p a:hover, .reveal-modal p a:focus {
    color: #7a2100;
    text-decoration: none;
}

.reveal-modal input.button {
    position: absolute;
    right: 0;
    bottom: -47px;
    font-size: 20px;
    font-weight: bold;
    background: #fd4400;
    border-color: #7a2100;
    height: 35px;
    line-height: 31px;
    padding: 0 20px;
    margin-bottom: 0;
}

.reveal-modal input.button:hover, .reveal-modal input.button:focus { background-color: #e43d00; }

.reveal-modal .close-reveal-modal:not(.button) {
    top: 6px;
    right: 11px;
    font-size: 27px;
}

.reveal-modal .close-reveal-modal:hover { color: #999; }



/* --- Foundation overrides --- */

.button {
    -webkit-transition: color 250ms ease-out, background-color 250ms ease-out;
    -moz-transition: color 250ms ease-out, background-color 250ms ease-out;
    transition: color 250ms ease-out, background-color 250ms ease-out;
}

.button:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset; 
}

.f-dropdown {
    background: #2d2d2d;
    border: solid 1px #666;
    margin-top: 6px;
    width: 8em;
}

.f-dropdown:before { /* Arrow above dropdown box */
    border-color: transparent transparent #2d2d2d transparent;
}
.f-dropdown:after { /* Arrow outline above dropdown box */
    border-color: transparent transparent #666 transparent;
}

.f-dropdown li a {
    color: #999;
    text-decoration: none;
    font-size: 14px;
}

.f-dropdown li:hover, .f-dropdown li:focus {
    background: #484848; 
}

fieldset {
    border: none;
    padding: 0;
}

.reveal-modal-bg {
    background: rgba(0,0,0,0.65);
}