<div class="side-bar">
    <h1 class="logo">
        <a href="index.html">
            <img src="img/redtiles-logo.png" alt="Redtiles" title="Redtiles" />
        </a>
    </h1>
    <section id="gallery">
        <h2><a href="#"><i class="icon-chevron-down"></i>Gallery</a></h2>
        <form class="custom">
            <select id="collectionSelect">
                <option>My Collection</option>
                <option>Another Collection</option>
                <option>Super secret</option>
            </select>
        </form>
        <div class="subreddits">
            <ul>
                <li><i class="icon-minus"></i><a href="#">/r/pics</a></li>
                <li><i class="icon-minus"></i><a href="#">/r/funny</a></li>
                <li><i class="icon-minus"></i><a href="#">/r/1000words</a></li>
                <li><i class="icon-minus"></i><a href="#">/r/wallpapers</a></li>
            </ul>
            <div class="add-subreddit">
                <i class="icon-plus"></i>
                <span class="prefix">/r/</span>
                <input type="text" placeholder="add new">
            </div>
        </div>
        <div class="controls">
            <div>
                <a href="#saveAsNew">Save as new</a>
                <a href="#share">Share</a>
                <div class="hidden" id="saveAsNew">
                    <input type="text" placeholder="New Collection">
                    <button>Save</button>
                </div>
                <div class="hidden" id="share">
                    
                </div>
            </div>
            <div><i class="icon-list"></i><a id="manage" href="#">Manage Collections</a></div>
        </div>
        
    </section>
    <section id="popular">
        <h2><a href="#"><i class="icon-chevron-down"></i>Popular</a></h2>
        <div class="subreddits">
            <ul>
                <li><i class="icon-plus"></i><a href="#">/r/itookapicture</a></li>
                <li><i class="icon-plus"></i><a href="#">/r/FiftyFifty</a></li>
                <li><i class="icon-plus"></i><a href="#">/r/tumblr</a></li>
                <li><i class="icon-plus"></i><a href="#">/r/awwnime</a></li>
                <li><i class="icon-plus"></i><a href="#">/r/cosplay</a></li>
            </ul>
            <div class="page-nav">
                <a class="disabled"><i class="icon-caret-left"></i> prev</a>
                <span>-</span>
                <a>next <i class="icon-caret-right"></i></a>
            </div>
        </div>
    </section>
</div> <!-- /.side-bar -->
        
<div class="top-bar">
    <div class="sorting">
        Sort by: <a data-dropdown="sortDrop" href="#">Hot</a>
        <ul id="sortDrop" class="f-dropdown" data-dropdown-content>
            <li><a href="#">New</a></li>
            <li><a href="#">Controversial</a></li>
            <li><a href="#">Top</a></li>
        </ul>
    </div>
    <div class="sizing">
        smaller<ul class="button-group round even-2">
            <li><a href="#" class="small button size-minus"><i class="icon-minus"></i></a></a></li>
            <li><a href="#" class="small button size-plus"><i class="icon-plus"></i></a></a></li>
        </ul>bigger
    </div>
    <div class="user right">
        <a href="#" class="small button">reddit login</a>
    </div>
</div> <!-- /.top-bar -->
        
<div class="tile-area">
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
    <img src="http://placehold.it/101/999999/333333" />
</div> <!-- /.tile-area -->