<div class="side-bar">
    <h1 class="logo">
        <a href="index.html">
            <img src="img/redtiles-logo.png" alt="Redtiles" title="Redtiles" />
        </a>
    </h1>
    <section data-section-toggle id="gallery">
        <h2><a><i class="icon-chevron-down"></i>Gallery</a></h2>
        <div>
            <form ng-show="loginStatus == 'logged'" class="custom">
                <zurb-Select select-id="collDropdown" selected="selectedColl" options="collections" click-callback="changeColl(value)"></zurb-Select>
            </form>
            <div class="subreddits">
                <ul>
                    <li class="add-hint" ng-show="subreddits.length == 0">
                        Add some subreddits!
                    </li>
                    <li ng-repeat="sub in subreddits">
                        <a ng-click="removeSub(sub)" data-hover>
                            <i class="icon-minus"></i>/r/{{ sub }}
                        </a>
                    </li>
                </ul>
                <form name="addSubForm" ng-submit="addSub(addSubName)" class="add-subreddit">
                    <i class="icon-plus"></i>
                    <span class="prefix">/r/</span>
                    <input data-blur="addSubToggle" data-subreddit-autocomplete required name="addSubInput" ng-model="addSubName" type="text" placeholder="add subreddit">
                </form>
            </div>
            <div class="controls" ng-hide="loginStatus == 'notLogged'">
                <div>
                    <a id="saveAsNewLink" ng-init="saveAsOpen = false" ng-click="saveAsOpen = !saveAsOpen; shareOpen = false">Save as new</a>
                    <a ng-init="shareOpen = false" ng-click="shareOpen = !shareOpen; saveAsOpen = false">Share</a>
                    <form ng-submit="addCollection(saveNewName)" ng-class="{hidden:!saveAsOpen}" id="saveAsNew">
                        <input ng-model="saveNewName" type="text" placeholder="New Collection">
                        <button>Save</button>
                    </form>
                    <div ng-class="{hidden:!shareOpen}" class="share" id="share">
                        <input disabled type="text" value="redtiles.com/cooldude/c/MyCollection">
                        <button type="submit">Copy</button>
                    </div>
                </div>
                <div>
                    <i class="icon-list"></i>
                    <a ng-click="openManager()" data-reveal-id="modalCollections" id="manage">Manage Collections</a>
                </div>
            </div>
        </div>
    </section>
    <section data-section-toggle id="popular">
        <h2><a><i class="icon-chevron-down"></i>Popular</a></h2>
        <div class="subreddits">
            <ul>
                <li ng-repeat="sub in popularSubs | filter:filterPopular">
                    <a ng-click="addSub(sub)" data-hover>
                        <i class="icon-plus"></i>/r/{{ sub }}
                    </a>
                </li>
            </ul>
            <div class="page-nav">
                <a class="disabled"><i class="icon-caret-left"></i> prev</a>
                <span>-</span>
                <a>next <i class="icon-caret-right"></i></a>
            </div>
        </div>
    </section>
</div> <!-- /.side-bar -->

<div class="top-bar">
    <div data-custom-drop data-callback-fn="changeSort(arg1)" class="sorting">
        Sort by: <a data-dropdown="sortDrop">{{ sortBy }}</a>
        <ul id="sortDrop" class="f-dropdown" data-dropdown-content>
            <li><a>Hot</a></li>
            <li><a>New</a></li>
            <li><a>Rising</a></li>
            <li><a>Controversial</a></li>
            <li><a>Top</a></li>
        </ul>
    </div>
    <div class="sizing">
        <div class="size-label">smaller</div>
        <ul class="button-group round even-2">
            <li><a ng-click="changeSize(-1)" ng-class="{disabled:sizeLevel==0}" class="small button size-minus"><i class="icon-minus"></i></a></li>
            <li><a ng-click="changeSize(1)" ng-class="{disabled:sizeLevel==4}" class="small button size-plus"><i class="icon-plus"></i></a></li>
        </ul>
        <div class="size-label">bigger</div>
    </div>
    <div ng-hide="loginStatus == ''" class="user right">
        <a ng-hide="loginStatus == 'logged'" data-reveal-id="modalLogin" class="small button">reddit login</a>
        <p ng-show="loginStatus == 'logged'">Welcome back, <a data-dropdown="userDrop">{{ redditUser.name }}</a></p>
        <ul id="userDrop" class="f-dropdown" data-dropdown-content>
            <li><a ng-click="logout()">Log Out</a></li>
        </ul>
    </div>
</div> <!-- /.top-bar -->

<div data-options="{'columnWidth': 101, 'gutter': 4}" class="tile-area">
    <div data-display-size="{{ image.displaySize }}" data-faved="{{ image.saved }}" ng-class="{remove:image.disabled}" style="display:none;" id="{{ image.id }}" class="tile" ng-repeat="image in imageTiles">
        <div ng-click="viewImage(image)" class="tile-overlay">
            <a ng-show="loginStatus == 'logged'" ng-click="fave(image)" class="add-favorite"><i class="icon-star-empty"></i></a>
            <div class="reddit-controls">
                <a ng-show="loginStatus == 'logged'" ng-class="{voted:image.voted == 1}" ng-click="vote(image, 1)" class="upvote"></a>
                {{ image.score }}
                <a ng-show="loginStatus == 'logged'" ng-class="{voted:image.voted == -1}" ng-click="vote(image, -1)" class="downvote"></a>
                <a ng-click="hideTile(image.id)" class="hide-tile"><i class="icon-eye-close"></i></a>
            </div>
            <div class="post-info">
                <div ng-show="image.popular" class="post-date">{{ image.created_utc*1000 | date:'shortDate' }}</div>
                <div ng-show="image.popular" class="domain">{{ image.domain }}</div>
                <a title="{{ image.title }}" target="_blank" class="post-link" ng-href="http://reddit.com{{ image.permalink }}">
                    <span>{{ image.title }}</span><i class="icon-external-link"></i>
                </a>
            </div>
        </div>
        <img class="tile-image" ng-src="{{ image.thumbURL }}" />
    </div>
    <div class="load-status"><i ng-show="loadStatus == 'add some subreddits!'" class="icon-arrow-left"> </i>{{ loadStatus }}</div>
</div> <!-- /.tile-area -->

<!-- Modals -->

<div data-login-form="{{ loginStatus }}" id="modalLogin" class="reveal-modal">
    <h2>Log In <span class="small">with reddit</span></h2>
    <form id="loginForm" ng-submit="login(loginUser, loginPass)">
        <div class="row">
            <div class="large-12 columns">
                Log in with your reddit account
                <p id="loginError"><i class="icon-warning-sign"></i></p>
            </div>
        </div>
        <fieldset>
            <div class="row">
                <div class="large-6 columns">
                    <label for="inputLoginUser" class="right inline">Username</label>
                </div>
                <div class="large-6 columns">
                    <input ng-model="loginUser" id="inputLoginUser" type="text" placeholder="cooldude">
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label for="inputLoginPass" class="right inline">Password</label>
                </div>
                <div class="large-6 columns">
                    <input ng-model="loginPass" id="inputLoginPass" type="password">
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="large-6 columns">
                <p>Don't have a reddit account? <br/>
                    <a target="_blank" href="http://www.reddit.com/register">Create one here!</a>
                </p>
            </div>
            <div class="large-6 columns">
                <input ng-disabled="loginStatus=='logging'" id="loginSubmit" type="submit" class="button" value="Log In">
            </div>
        </div>
    </form>
    <a class="close-reveal-modal"><i class="icon-remove"></i></a>
</div>
<div id="modalCollections" class="reveal-modal">
    <h2>My Collections</h2>
    <div class="row">
        <div class="large-12 columns">
            <label ng-hide="renamingColl">Choose a collection to edit</label>
            <label ng-show="renamingColl">Rename this collection</label>
        </div>
    </div>
    <div class="row">
        <div ng-hide="renamingColl" class="large-6 columns">
            <form ng-show="loginStatus == 'logged'" class="custom">
                <zurb-Select select-id="editDropdown" selected="editSelectedColl" options="editCollections" click-callback="changeEditColl(value)"></zurb-Select>
            </form>
        </div>
        <div ng-show="renamingColl" class="large-7 columns">
            <form ng-submit="renameCollection(renameName)" id="renameForm">
                <input id="renameInput" value="{{ editSelectedColl }}" ng-model="renameName" type="text" placeholder="type a new name">
                <button>Save</button>
            </form>
        </div>
        <div class="small-2 columns">
            <a id="renameButton" ng-init="renamingColl = false" ng-click="renamingColl = !renamingColl" class="tiny secondary button"><span ng-show="renamingColl">Cancel</span><span ng-hide="renamingColl">Rename</span></a>
        </div>
        <div ng-hide="renamingColl" class="small-2 columns">
            <a class="tiny secondary button">Clone</a>
        </div>
        <div ng-hide="renamingColl" class="small-2 columns">
            <a ng-click="deleteCollection()" class="tiny secondary button">Delete</a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Subreddits in this collection</h3>
            <div class="subreddits">
                <ul>
                    <li class="add-hint" ng-show="editSubreddits.length == 0">
                        Add some subreddits!
                    </li>
                    <li ng-repeat="editSub in editSubreddits">
                        <a ng-click="removeEditSub(editSub)" data-hover>
                            <i class="icon-minus"></i>/r/{{ editSub }}
                        </a>
                    </li>
                </ul>
                <form name="addEditSubForm" ng-submit="addEditSub(addEditSubName)" class="add-subreddit">
                    <i class="icon-plus"></i>
                    <span class="prefix">/r/</span>
                    <input data-blur="addEditSubToggle" data-subreddit-autocomplete required name="addEditSubInput" ng-model="addEditSubName" type="text" placeholder="add subreddit">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Add a popular subreddit to this collection</h3>
            <div class="add-subreddit">
                <form class="custom">
                    <i class="icon-plus"></i>
                    <select id="popularDropdown">
                        <option>/r/itookapicture</option>
                        <option>/r/FiftyFifty</option>
                        <option>/r/tumblr</option>
                        <option>/r/awwnime</option>
                        <option>/r/cosplay</option>
                    </select>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <h3>Share this collection</h3>
            <div class="share">
                <input disabled type="text" value="redtiles.com/cooldude/c/MyCollection">
                <button>Copy</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-5 large-offset-4 columns">
            <p>Changes are saved automatically</p>
        </div>
        <div class="large-3 columns">
            <a id="collectionsDone" class="button close-reveal-modal secondary">Done</a>
        </div>
    </div>
    <a class="close-reveal-modal"><i class="icon-remove"></i></a>
</div>